.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
  bottom: 0px;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  position: static;
  display: block;
  color: black;
  max-width: 60rem;
  outline: none;
  padding: $l-size;
  text-align: center;
  width: 500px;
  height: 226px;
  border: 1px solid;
  box-shadow: 10px 13px 5px -2px rgba(0, 0, 0, 0.75);
  background-color: whitesmoke;
}

.modal__title {
  margin: 0 0 $m-size 0;
}

.modal__body {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 $l-size 0;
  word-break: break-all;
  direction: rtl;
}
.noremove {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-around;
  button {
    justify-content: space-evenly;
    background: #3f51b5;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    width: 150px;
    border-radius: 5px;
    margin: 10px auto;
    height: 50px;
  }
}
.textred {
  color: red;
  font-weight: bold;
}
